*{
    box-sizing: border-box;
}

header{
    background-color: #333;
    width: 90%;
    height: 80px;
    margin: 10px 5%;
    margin-bottom: 30px;
}

header img{
    padding-left: 20px;
    padding: 10px auto;
    float: left;
}


body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    background-color: whitesmoke;
    width: 100%;
    
}


nav ul{
    position: relative;
    
}

nav ul li {
    display: inline-block;
    padding: 10px;

}



nav ul li a{
    color: #f2f2f2;
    text-decoration: none;
    font-weight: bold;
    padding-left: 100px;
    float: left;
    
}
main{
    width: 100%;
}

main section{
    width: 90%;
    margin: 0 6.5%;
    margin-bottom: 30px;

}

main section img{
    width: 95%;
}

/* div .placeholder{
    display: inline;
    margin-bottom: 30px;
    margin-left: 120px;

}

 div{
    float: left;
    margin-left: 70px;
    justify-content: space-between;
} */

div{
    width: 85%;
    margin: 10px 6.5%;
}

div img{
    width: 30%;
    margin:0;
    padding: 0;
}

.placeholder{
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 30px;

}
.placeholder3{
    margin-left: 58px;
    margin-right: 60px;
    margin-bottom: 30px;

}


#paragraph1{
    text-align: justify;
    margin-bottom: 30px;
    width: 90%;

}
main article img{
    width: 50%;
    clear: both;
    float: left;
    margin-left: 95px;
    margin-bottom: 30px;
}


p{
    padding: 5px;
    width: 42.5%;
    height: 250px;
    margin: 0 0 0 0;
    overflow: scroll;
    border: 1px solid #ccc;
}

.button{
    background-color: #333;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    width: 20%;
    margin: 4px 10%;
    cursor: pointer;
    border-radius: 20px;
    align-items: center;
}
.button:hover {
    background-color: #4c7faf;
    transition: background-color 350ms ease;
    color: white;
  }

footer{
    clear: both;
    background-color: #333;
    width: 100%;
    margin: 0 -10px -10px 0;
    color: #f2f2f2;
    height: 80px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}